@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Prompt", sans-serif;
  font-weight: bolder;
  /* font-family: Poppins,Sans-serif; */
}
html {
  scroll-behavior: smooth;
}
button {
  font-weight: bold;
}
.section-center {
  width: 90vw;
  max-width: 1150px;
  margin: 0 auto;
}
/* navbar */
.header {
  padding: 0.5rem;
  background-color: white;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  z-index: 99;
}
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.logo-photo {
  width: 150px;
}
.nav-center {
  display: flex;
  justify-content: space-around;
  max-width: 1050px;
  align-items: center;
  /* gap: 4rem; */
}
.price h1 {
  text-align: center;
  background-color: blueviolet;
  font-size: 2.5rem;
  padding: 0.4rem 1rem;
  border: 2px solid purple;
  color: white;
  font-weight: bold;
}
/* end of navbar */
/* cards */
.card-info {
  text-align: center;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  border-radius: 1rem;
  max-width: 300px;
}
.card-info h2 {
  color: blueviolet;
  font-size: 2rem;
  margin: 0.5rem 0;
}
.card-info h4 {
  color: blueviolet;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.card-info p {
  font-size: 1.2rem;
}
.card {
  max-width: 250px;
}
.cards-center {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  margin: 7rem auto;
}
@media screen and (max-width: 600px) {
  .nav-center {
    flex-direction: row;
    gap: 1rem;
  }
  .nav-center h1 {
    font-size: 1rem;
  }
  .cards-center {
    margin: 8rem auto;
  }
}
@keyframes pop {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(0.7);
  }
}
.btn {
  background-color: rgb(8, 189, 8);
  padding: 1rem 1.5rem;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
  animation-name: pop;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.info-center p {
  color: #475062;
  font-weight: bold;
}
.info-center span {
  color: #475062;
  font-weight: bold;
}
.card p {
  color: black;
  font-weight: bold;
}
.btn:hover {
  background-color: rgba(8, 189, 8, 0.653);
}
.card {
  background-color: white;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  max-width: 300px;
}
.card h2 {
  color: #475062;
  margin: 1rem 0;
}
.btn-1 {
  background-color: rgb(126, 2, 2);
  color: white;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  transform: scale(1);
  transition: all 0.5s linear;
}
.btn-1:hover,
.btn-2:hover {
  background-color: blueviolet;
  transform: scale(0.8);
}
.btn-2 {
  background-color: rgb(8, 189, 8);
  color: white;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin: 0.5rem;
  transform: scale(1);
  transition: all 0.5s linear;
}
.blog-photo {
  width: 150px;
  object-fit: cover;
}
/* end of cards */
/* next page */
.sales-info {
  text-align: center;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.321);
  padding: 1rem;
  border-radius: 1rem;
  margin: 8rem auto;
  max-width: 500px;
}
.sales-info h3 {
  color: black;
  font-size: 2rem;
  margin: 1rem 0;
}
.sales-info h4 {
  color: blueviolet;
  font-size: 1.5rem;
}
.sales-info p {
  color: rgb(54, 53, 53);
  font-size: 1.2rem;
  margin: 0.6rem 0;
}
.dol {
  color: rgb(2, 111, 16);
  font-weight: bold;
}
.sales-price {
  color: white;
  background-color: blueviolet;
  border: 2px solid purple;
  font-size: 2.5rem;
  text-align: center;
}
.sales {
  display: grid;
}
.up {
  position: fixed;
  right: 3%;
  bottom: 5%;
  background: #046BD2;
  color: white;
  font-size: 1.5rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
  border: none;
}
.arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* end of next page */
@media screen and (max-width: 650px) {
  .nav-center {
    flex-direction: row;
    gap: 1rem;
  }
  .nav-center h1 {
    font-size: 1rem;
  }
  .cards-center {
    margin: 8rem auto;
  }
  .sales-info h4 {
    font-size: 1rem;
  }
  .sales-info h3 {
    font-size: 1.3rem;
  }
  .logo-photo {
    width: 120px;
  }
  .nav-header {
    justify-self: start;
  }
  .sales-price {
    font-size: 1.4rem;
  }
  .arrow {
    justify-content: center;
    gap: 1rem;
  }
  .header {
    margin: 0.6rem;
    border-radius: 0.2rem;
    width: 95vw;
  }
  .card-info h2 {
    font-size: 1.2rem;
  }
  .card-info p {
    font-size: 1rem;
  }
  .btn {
    font-size: 2.5rem;
  }
  .btn-1,
  .btn-2 {
    padding: 0.4rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
  }
  .blog-photo {
    width: 100%;
  }
  .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
